.title { 
  font-family: 'Roboto Mono', monospace;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(60, end); 
  color: white

}

@keyframes type{

    from { width: 0; }

}

.intro {

  font-family: 'Roboto Mono', monospace;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100em;
  animation: type 4s steps(60, end); 
  color: white
}

.centered {

  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center

}

.youtube{

    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-youtube{

  background: red;
  color: white;

}

.fa-twitch{

  background: purple;
  color: white;

}

.fa-github{

  background: white;
  color: black;

}

.fa-twitter{

  background: lightskyblue;
  color: white

}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.buttons-left{

  position:absolute;
   left: 50px;
   top: 110px;
   width:100px;
   height:50%;

}

.buttons-right{

  position:absolute;
   left: 1000px;
   top: 110px;
   width:100px;
   height:50%;

}

body {overflow-x: hidden}

.support{

  background-color: orange;
  color: white;

}

.fa-hand-holding-dollar{

  

}